spring:
  jpa:
    open-in-view: false
    properties:
      hibernate:
        ddl-auto: validate
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug

  app:
    storage:
      md-root: C:\Users\Kingdomcome\Documents\CS_DOC_DATA\md