spring:
  datasource:
    # url: jdbc:h2:mem:testdb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    url: jdbc:h2:file:./CS_DOC_DATA/h2/csdoc;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  servlet:
    multipart:
      enabled: true
      max-file-size: 2MB
      max-request-size: 2MB

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always

app:
  storage:
    md-root: C:/Users/Kingdomcome/Documents/CS_DOC_DATA/md

springdoc:
  swagger-ui:
    path: /swagger
    operationsSorter: method
    tagsSorter: alpha
    display-request-duration: true
  api-docs:
    path: /v3/api-docs

logging:
  level:
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: TRACE
    com.fasoo.cs_doc.post.controller.PostController: INFO
    com.fasoo.cs_doc.post.service.PostService: DEBUG